<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span>View Events</span>
            </h1>
        </section>

        <section class="filters">
            <div class="container m-0">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="col-lg-1 col-md-3 control-label">
                            Filter By
                        </label>
                        <div class="col-lg-3 col-md-3">
                            <input type="text" class="form-control input-dashed" placeholder="Enter username">
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <input type="text" class="form-control input-dashed" placeholder="Enter Name">
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" placeholder="Select date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box active-item">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event1.png')">
                            <span class="participants">
                                <span>35</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Rampage</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event2.png')">
                            <span class="participants">
                                <span>35</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Stamford Swim</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event3.png')">
                            <span class="participants">
                                <span>21</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Leicester Cycle Group</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event4.png')">
                            <span class="participants">
                                <span>122</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Rampage</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event5.png')">
                            <span class="participants">
                                <span>03</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Runner</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event6.png')">
                            <span class="participants">
                                <span>15</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Rampage</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event6.png')">
                            <span class="participants">
                                <span>15</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Rampage</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6 col-xs-12">
                    <a href="#" class="event-box">
                        <span class="event-img" style="background-image: url('assets/dist/img/sample-photos/event6.png')">
                            <span class="participants">
                                <span>15</span>
                                Participants Confirmed
                            </span>
                        </span>
                        <span class="event-description">
                            <h5>Rutland Rampage</h5>
                            <p>Nitesh Bhundia created on 10th March 2018</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="load-morebtn text-center">
                <button class="btn btn-orange" type="submit">Load More</button>
            </div>
        </section>
    </div>
</div>
<app-footernavbar>