<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                <span>Create your next event</span>
            </h1>
        </section>
        <!-- Content Header (Page header) -->
        <div class="steps-area marginTop50">

            <div class="steps-bar">
                <ul>
                    <li class="active current"><span>Create event</span></li>
                    <li><span>Add details</span></li>
                    <li><span>Invite friends</span></li>
                </ul>
            </div>
            <div class="steps-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Event name</label>
                            <input class="form-control" placeholder="The title" value="" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Location</label>
                            <select class="form-control">
                                <option>Postcode</option>
                                <option>Select Time Slot</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Discipline</label>
                            <input class="form-control" placeholder="Running" value="" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Date</label>
                            <select class="form-control">
                                <option>- Select the date -</option>
                                <option>Select Time Slot</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Start</label>
                            <input class="form-control" placeholder="Start time" value="" type="text">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>End</label>
                            <input class="form-control" placeholder="End time" value="" type="text">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <button class="btn btn-orange" type="submit">Next step</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


    </div>
</div>
    <app-footernavbar>