<nav id="sidebar-wrapper">
    <a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
    <ul class="sidebar-nav">
        <li><a href="#">Home</a></li>
    </ul>
</nav>

<!-- ****************************** Header ************************** -->

<header class="header" id="header">
    <div class="container-fluid">
        <div class="row" id="logo_menu">
            <div class="col-xs-12 col-sm-4 header-btns">
                <a href="#" class="btn btn-primary">
                    <i class="ion-android-star"></i> Find an Event
                </a>
                <a href="#" class="btn btn-secondary">
                    <i class="ion-android-lock"></i> Login / Register
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 header_logo"><a class="logo" href="#"><img
                    src="assets/dist/img/logo.jpg"></a></div>
            <div class="col-xs-12 col-sm-4 header-right">
                <a href="#" class="btn btn-yellow">
                    <i class="ion-plus"></i> Create an Event
                </a>
                <!--<a id="menu-toggle" href="#" class="toggle"><i class="ion-navicon"></i> <span-->
                <!--class="header_menu_text">Menu</span></a></div>-->
            </div>
        </div>
    </div>
</header>
<div class="header-btns-fixed-mobile">
    <a href="#" class="btn btn-primary">
        <i class="ion-android-star"></i> Find an Event
    </a>
    <a href="#" class="btn btn-secondary store">
        <i class="ion-android-lock"></i> Login / Register
    </a>
</div>

<section class="main register-area">
    <div class="register-container">
        <div class="title">Create an account</div>
        <div class="sub-title">Create your account by filling the form giving below</div>
        <div class="row">
            <div class="col-md-6 or-divider">
                <div class="regi-form">
                <div class="form-group">
                    <label>User name</label>
                    <input class="form-control" placeholder="enter username" value="" type="text">
                </div>
                <div class="form-group">
                    <label>Email address</label>
                    <input class="form-control" placeholder="enter email address" value="" type="text">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" placeholder="Enter password" value="" type="text">
                </div>
                <div class="text-center">
                    <button class="btn btn-orange" type="submit">Create an account</button><br><br>
                    <div class="clearfix"></div>
                    Already have an account? <a class="orange-link" href="#">Log in here</a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="regi-social">
                <ul class="social-login">
                    <li class="fb"><a href="#">Connect with facebook</a></li>
                    <li class="g-plus"><a href="#">Connect with Google</a></li>
                    <li class="email"><a href="#">Connect with Email</a></li>
                </ul>
                <div class="terms-text">
                    By clicking the buttons above, you agree to tribeathlon's <a class="orange-link" href="#">Terms of services</a>, <a href="#">privacy policy </a> and <a class="orange-link" href="#">Cokkies policy</a>
                </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="clearfix"></div>
</section>    

    
    
    
    
<!-- ****************************** Footer ************************** -->

<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Find us</span>
                    <div class="footer-address">
                        5 Beatrice Road.<br>
                        Liecester, LE3 9FH<br>
                        <a href="tel:01162512303">0116 2512 303</a><br>
                        <a href="mailto:events@tribeathlon.co.uk">events@tribeathlon.co.uk</a>
                    </div>
                    <div class="social_icons">
                        <ul>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-email"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a class="footer-logo" href="#"><img src="img/logo.jpg"></a>
                    <p class="copyright">&copy; 2018, tribeathlon</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Latest News</span>
                    <ul class="latest-posts">
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Tags</span>
                    <div class="footer-tags">
                        <a class="tag-single active" href="#">10K</a> <a class="tag-single" href="#">Local</a> <a class="tag-single" href="#">Marathon</a>
                        <a class="tag-single" href="#">Charity</a> <a class="tag-single" href="#">Off-Road</a> <a class="tag-single" href="#">5k</a>
                        <a class="tag-single" href="#">Road</a> <a class="tag-single" href="#">XC runs</a> <a class="tag-single" href="#">Rally</a>
                        <a class="tag-single" href="#">London</a> <a class="tag-single" href="#">River</a> <a class="tag-single" href="#">Indoor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Signup for full access</span>
                    <p>Register your email address so you can access the community forum and get the latest updates and
                        offers</p>
                    <form>
                        <div class="form_row">
                            <input placeholder="Email address" type="email"> <input type="submit" value="Sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>