<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/user-pic.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Nitesh Bhundia</p>
          <a href="#">Logout</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MAIN</li>
        <li class="active">
          <a href="/profile">
            <span>Profile</span>
          </a>
        </li>
        <li>
          <a href="notifications">
             <span>Notifications</span>
          </a>
        </li>
        <li>
          <a href="/viewevents">
            <span>View Events</span>
          </a>
        </li>
        <li>
          <a href="/createevent">
           <span>Add/Create Event</span>
          </a>
        </li>
        <li>
          <a href="/viewfriends">
            <span>View Friends</span>
          </a>
        </li>
        <li>
          <a href="/addfriend">
             <span>Add Friends</span>
          </a>
        </li>
        <li>
          <a href="#">
             <span>Support</span>
          </a>
        </li>
      </ul>
      <div class="empty-space"></div>
      <ul class="recent-activities">
        <li class="header">RECENT ACTIVITIES</li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="assets/dist/img/sample-photos/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <h4>
              <span>John Doe</span> accepted your event <span>Rutland Runner</span>.
            </h4>
            <p>11:00 AM <span>Today</span></p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="assets/dist/img/sample-photos/user3-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <h4>
              <span>John Doe</span> accepted your event <span>Rutland Runner</span>.
            </h4>
            <p>11:00 AM <span>Today</span></p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="assets/dist/img/sample-photos/user4-128x128.jpg" class="img-circle" alt="User Image">
            </div>
            <h4>
              <span>John Doe</span> accepted your event <span>Rutland Runner</span>.
            </h4>
            <p>11:00 AM <span>Today</span></p>
          </a>
        </li>
        <li>
          <a href="#">
            <div class="pull-left">
              <img src="assets/dist/img/sample-photos/user3-128x128%20(1).jpg" class="img-circle" alt="User Image">
            </div>
            <h4>
              <span>John Doe</span> accepted your event <span>Rutland Runner</span>.
            </h4>
            <p>11:00 AM <span>Today</span></p>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>