<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <span>View Friends</span>
          </h1>
        </section>
        <section class="viewfriend_sec">
          <ul class="friendlist clearfix">
            <li>
              <div class="singlebox">
                <div class="friendimg">
                  <a href="#">
                    <img src="assets/dist/img/follower3.png" alt="" />
                  </a>
                </div>
                <div class="main-content">
                  <div class="friend-name"><a href="#">Friend Name</a></div>
                  <div class="btnbox">
                    <button type="submit" class="btn btn-dark">
                      View Profile
                    </button>
                    <button type="submit" class="btn ">Remove</button>
                  </div>
                </div>
              </div>
            </li>
            <li>
                <div class="singlebox">
                  <div class="friendimg">
                    <a href="#">
                      <img src="assets/dist/img/follower3.png" alt="" />
                    </a>
                  </div>
                  <div class="main-content">
                    <div class="friend-name"><a href="#">Friend Name</a></div>
                    <div class="btnbox">
                      <button type="submit" class="btn btn-dark">
                        View Profile
                      </button>
                      <button type="submit" class="btn ">Remove</button>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                  <div class="singlebox">
                    <div class="friendimg">
                      <a href="#">
                        <img src="assets/dist/img/follower3.png" alt="" />
                      </a>
                    </div>
                    <div class="main-content">
                      <div class="friend-name"><a href="#">Friend Name</a></div>
                      <div class="btnbox">
                        <button type="submit" class="btn btn-dark">
                          View Profile
                        </button>
                        <button type="submit" class="btn ">Remove</button>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                    <div class="singlebox">
                      <div class="friendimg">
                        <a href="#">
                          <img src="assets/dist/img/follower3.png" alt="" />
                        </a>
                      </div>
                      <div class="main-content">
                        <div class="friend-name"><a href="#">Friend Name</a></div>
                        <div class="btnbox">
                          <button type="submit" class="btn btn-dark">
                            View Profile
                          </button>
                          <button type="submit" class="btn ">Remove</button>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                      <div class="singlebox">
                        <div class="friendimg">
                          <a href="#">
                            <img src="assets/dist/img/follower3.png" alt="" />
                          </a>
                        </div>
                        <div class="main-content">
                          <div class="friend-name"><a href="#">Friend Name</a></div>
                          <div class="btnbox">
                            <button type="submit" class="btn btn-dark">
                              View Profile
                            </button>
                            <button type="submit" class="btn ">Remove</button>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                        <div class="singlebox">
                          <div class="friendimg">
                            <a href="#">
                              <img src="assets/dist/img/follower3.png" alt="" />
                            </a>
                          </div>
                          <div class="main-content">
                            <div class="friend-name"><a href="#">Friend Name</a></div>
                            <div class="btnbox">
                              <button type="submit" class="btn btn-dark">
                                View Profile
                              </button>
                              <button type="submit" class="btn ">Remove</button>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li>
                          <div class="singlebox">
                            <div class="friendimg">
                              <a href="#">
                                <img src="assets/dist/img/follower3.png" alt="" />
                              </a>
                            </div>
                            <div class="main-content">
                              <div class="friend-name"><a href="#">Friend Name</a></div>
                              <div class="btnbox">
                                <button type="submit" class="btn btn-dark">
                                  View Profile
                                </button>
                                <button type="submit" class="btn ">Remove</button>
                              </div>
                            </div>
                          </div>
                        </li>
            <li>
              <div class="singlebox">
                <div class="friendimg">
                  <a href="#">
                    <img src="assets/dist/img/follower3.png" alt="" />
                  </a>
                </div>
                <div class="main-content">
                  <div class="friend-name"><a href="#">Friend Name</a></div>
                  <div class="btnbox">
                    <button type="submit" class="btn btn-dark">
                      View Profile
                    </button>
                    <button type="submit" class="btn ">Remove</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <div class="loadmore text-center">
            <button class="btn btn-orange">Load More</button>
          </div>
        </section>
    </div>
</div>
<app-footernavbar>