<nav id="sidebar-wrapper">
    <a id="menu-close" href="#" class="close-btn toggle"><i class="ion-ios-close-empty"></i></a>
    <ul class="sidebar-nav">
        <li><a href="#">Home</a></li>
    </ul>
</nav>

<!-- ****************************** Header ************************** -->

<header class="header" id="header">
    <div class="container-fluid">
        <div class="row" id="logo_menu">
            <div class="col-xs-12 col-sm-4 header-btns">
                <a href="/findevent" class="btn btn-primary">
                    <i class="ion-android-star"></i> Find an Event
                </a>
                <a href="/register" class="btn btn-secondary">
                    <i class="ion-android-lock"></i> Login / Register
                </a>
            </div>

            <div class="col-xs-12 col-sm-4 header_logo"><a class="logo" href="#"><img
                    src="assets/dist/img/logo.jpg"></a></div>
            <div class="col-xs-12 col-sm-4 header-right">
                <a href="/createevent" class="btn btn-yellow">
                    <i class="ion-plus"></i> Create an Event
                </a>
                <!--<a id="menu-toggle" href="#" class="toggle"><i class="ion-navicon"></i> <span-->
                <!--class="header_menu_text">Menu</span></a></div>-->
            </div>
        </div>
    </div>
</header>
<div class="header-btns-fixed-mobile">
    <a href="#" class="btn btn-primary">
        <i class="ion-android-star"></i> Find an Event
    </a>
    <a href="#" class="btn btn-secondary store">
        <i class="ion-android-lock"></i> Login / Register
    </a>
</div>
<section class="banner-section" style="background-image: url(assets/dist/img/events_bg.jpg);">
    <div class="container">
        <a href="#" class="banner-link-text">
            <span class="main-title"><b>EVENTS</b></span>
            <span class="sub-title"><b>Find your next event <i class="ion-arrow-right-b"></i></b></span>
        </a>
    </div>
</section>
<section class="banner-section right" style="background-image: url(assets/dist/img/events_bg1.jpg);">
    <div class="container">
        <a href="#" class="banner-link-text">
            <span class="main-title"><b>Train</b></span>
            <span class="sub-title"><b>Create your own event <i class="ion-arrow-right-b"></i></b></span>
        </a>
    </div>
</section>
<section class="banner-section" style="background-image: url(assets/dist/img/events_bg2.jpg);">
    <div class="container">
        <a href="#" class="banner-link-text">
            <span class="main-title"><b>Tribe</b></span>
            <span class="sub-title"><b>Manage your Tribe <i class="ion-arrow-right-b"></i></b></span>
        </a>
    </div>
</section>
<!-- ****************************** Footer ************************** -->

<footer class="footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Find us</span>
                    <div class="footer-address">
                        5 Beatrice Road.<br>
                        Liecester, LE3 9FH<br>
                        <a href="tel:01162512303">0116 2512 303</a><br>
                        <a href="mailto:events@tribeathlon.co.uk">events@tribeathlon.co.uk</a>
                    </div>
                    <div class="social_icons">
                        <ul>
                            <li>
                                <a href="#"><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-social-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="ion-email"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a class="footer-logo" href="#"><img src="assets/dist/img/logo.jpg"></a>
                    <p class="copyright">&copy; 2018, tribeathlon</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Latest News</span>
                    <ul class="latest-posts">
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="post-date">19<span>Nov</span></span>
                                <div class="post-title">Test Event Name<span class="post-comments">3 comments</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Tags</span>
                    <div class="footer-tags">
                        <a class="tag-single active" href="#">10K</a> <a class="tag-single" href="#">Local</a> <a class="tag-single" href="#">Marathon</a>
                        <a class="tag-single" href="#">Charity</a> <a class="tag-single" href="#">Off-Road</a> <a class="tag-single" href="#">5k</a>
                        <a class="tag-single" href="#">Road</a> <a class="tag-single" href="#">XC runs</a> <a class="tag-single" href="#">Rally</a>
                        <a class="tag-single" href="#">London</a> <a class="tag-single" href="#">River</a> <a class="tag-single" href="#">Indoor</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer-widget">
                    <span class="widget_title">Signup for full access</span>
                    <p>Register your email address so you can access the community forum and get the latest updates and
                        offers</p>
                    <form>
                        <div class="form_row">
                            <input placeholder="Email address" type="email"> <input type="submit" value="Sign up">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>