<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
        <h1>
            <span>Events Name</span>
        </h1>
        </section>

        <section class="content">
        <div class="row">
            <div class="col-md-9">
            <div class="event-detailbox">
                <div class="event-box">
                <span
                    class="event-img"
                    style="background-image: url('assets/dist/img/sample-photos/event1.png')"
                >
                    <span class="participants">
                    <span>35</span>
                    Participants Confirmed
                    </span>
                </span>
                <span class="event-description">
                    <h5>Rutland Rampage</h5>
                    <p>Nitesh Bhundia created on 10th March 2018</p>
                    <div class="btnbox">
                    <a href="#" class="btn btn-dark">Join Now</a>
                    <a href="#" class="btn btn-orange-small">Interested</a>
                    </div>
                </span>
                </div>
                <div class="eventcommonbox">
                <h4>Description</h4>
                <div class="detaildesc">
                    <p>TEST ID #0T5 - will start on 11 NOV.2012</p>

                    <p>
                    Appear for FREE ONLINE CAMPUS PLACEMENT TEST SERIES which
                    will include 5 online test to be held every Sunday
                    starting 14th OCTOBER 2012 ( test IDs - #OT1, #OT2, #OT3,
                    #OT4 & #OT5) for all our Facebook students.
                    </p>
                    <p>
                    This is a weekly test series. The Test will be conducted
                    on every Sunday and the EVENT will be created for it to
                    notify all Facebook users
                    </p>
                </div>
                </div>
                <div class="join-interested-list">
                <div class="row">
                    <div class="col-md-6">
                    <div class="eventcommonbox">
                        <h4>Joined Candidate List</h4>
                        <ul class="list-ul">
                        <li>
                            <div class="singlebox">
                            <a href="#">
                                <img
                                src="img/follower3.png "
                                alt=""
                                class="featured-img"
                                />
                                <span class="clientname">Client Name</span>
                            </a>
                            </div>
                        </li>
                        <li>
                            <div class="singlebox">
                                <a href="#">
                                <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                />
                                <span class="clientname">Client Name</span>
                                </a>
                            </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                <a href="#">
                                    <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                    <a href="#">
                                    <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                    </a>
                                </div>
                                </li>
                                <li>
                                    <div class="singlebox">
                                    <a href="#">
                                        <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                        />
                                        <span class="clientname">Client Name</span>
                                    </a>
                                    </div>
                                </li>
                            <li>
                                <div class="singlebox">
                                <a href="#">
                                    <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                <a href="#">
                                    <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                <a href="#">
                                <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                />
                                <span class="clientname">Client Name</span>
                                </a>
                            </div>
                            </li>
                        </ul>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <div class="eventcommonbox">
                        <h4>Interested Candidate List</h4>
                        <ul class="list-ul">
                            <li>
                            <div class="singlebox">
                                <a href="#">
                                <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                />
                                <span class="clientname">Client Name</span>
                                </a>
                            </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                <a href="#">
                                    <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                </a>
                                </div>
                            </li>
                            <li>
                                <div class="singlebox">
                                    <a href="#">
                                    <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                    </a>
                                </div>
                                </li>
                                <li>
                                    <div class="singlebox">
                                    <a href="#">
                                        <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                        />
                                        <span class="clientname">Client Name</span>
                                    </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="singlebox">
                                        <a href="#">
                                        <img
                                            src="img/follower3.png "
                                            alt=""
                                            class="featured-img"
                                        />
                                        <span class="clientname">Client Name</span>
                                        </a>
                                    </div>
                                    </li>
                                <li>
                                <div class="singlebox">
                                    <a href="#">
                                    <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                    </a>
                                </div>
                                </li>
                                <li>
                                <div class="singlebox">
                                    <a href="#">
                                    <img
                                        src="img/follower3.png "
                                        alt=""
                                        class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                    </a>
                                </div>
                                </li>
                                <li>
                                <div class="singlebox">
                                <a href="#">
                                    <img
                                    src="img/follower3.png "
                                    alt=""
                                    class="featured-img"
                                    />
                                    <span class="clientname">Client Name</span>
                                </a>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>

            <div class="col-md-3">
            <div class="eventtable eventcommonbox">
                <h4>Event Detail</h4>
                <div class="eventdetail-table">
                <table class="table">
                    <tr>
                    <th style="width:50%">Location</th>
                    <td style="width:50%">xyz</td>
                    </tr>
                    <tr>
                    <th>Discipline</th>
                    <td>Running</td>
                    </tr>
                    <tr>
                    <th>Start Date</th>
                    <td>xyz</td>
                    </tr>
                    <tr>
                    <th>End Date</th>
                    <td>xyz</td>
                    </tr>
                    <tr>
                    <th>Time Slot</th>
                    <td>xyz</td>
                    </tr>
                    <tr>
                    <th>Total Distance</th>
                    <td>2km</td>
                    </tr>
                    <tr>
                    <th>Average Speed</th>
                    <td>10km/hr</td>
                    </tr>
                    <tr>
                    <th>Total Time</th>
                    <td>20min</td>
                    </tr>
                    <tr>
                    <th>Pit Stop</th>
                    <td>Yes</td>
                    </tr>
                    <tr>
                    <th>Visability</th>
                    <td>Public</td>
                    </tr>
                
                </table>
                <p>
                    <a href="#" class="btn btn-orange-small" >Download Map File</a>
                </p>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
</div>
<app-footernavbar>