<div class="wrapper">
    <app-topnavbar></app-topnavbar>
    <app-asidenavbar></app-asidenavbar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <span>Your Notifications</span>
            </h1>
        </section>


        <section class="notifyarea">
            <ul class="notificationlist clearfix">
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Rohn</span> sent you a
                                frient request</span>
                            <span class="notificationtime"> 5 minutes ago</span>
                            <div class="btnbox">
                                <button href="#" class="btn btn-dark mr-4">Confirm</button> <button href="#"
                                    class="btn">Delete</button>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="notifcationmg"><img src="assets/dist/img/follower3.png" alt=""></div>
                        <div class="notifcationcontent"><span class="notificationtext"><span>Johan</span> reacted to an
                                event recently created</span><span class="notificationtime"> 5 minutes ago</span></div>
                    </a>
                </li>
            </ul>
            <div class="load-morebtn text-center">
                <button class="btn btn-orange" type="submit">Load More</button>
            </div>
        </section>
    </div>
</div>
<app-footernavbar>